# Common binary formats
*.exe
*.dll
*.lib
*.o
*.out
*.a
*.obj

# IDE generated directories/files
*.vs
*.idea
*.vscode
CMakeSettings.json

# Temporary/binary directories
data/*
out/*
temp/*
builds/*
build/*
cmake-build-*

# Other
localscripts/*
venv/*